@font-face {
  font-family: 'Rebond Grotesque'; /* Name your font family */
  src: url('fonts/Rebond Grotesque.otf'); /* Locate the .ttf file within your directory*/
}

body {
  background-color: #F2F1EE;
  color: #201E18;
  font-family: "Rebond Grotesque";
  padding: 12px;
  padding-top: 0px;

}

.logoLiquid{
      width: 100px;
    height: 100px;
    float: left;
    position: absolute;
    top: 0px;
}

.info{
       position: absolute;
    right: 5%;
    top: 31px;
    width: 30px;
    height: 30px;
}


div.scroll-container {
  background-color: #F2F1EE;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;


  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;  /* follow the parent's edges */
  /*outline: thin dashed green; */          

}

div.scroll-container img {
  padding: 0px;
  height: 100%;
}

div.scroll-container video {
  padding: 0px;
  height: 100%;
}


.fullScreen {
  display: contents; 
  width: 100%;          
  position: relative;   
  overflow-y: hidden;
}



.aspectwrapper {
  display: inline-block;
  width: 100%;          
  /*position: relative;   */
  position: fixed;
  height: 85%;
  left: 0px;
  top: 5%;
  bottom: 0px; 
  margin-top: 5%;
}

/*.aspectwrapper::after {
  padding-top: 60%;
  display: block;
  content: '';
}*/